.title-categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-radius: 12px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin-bottom: 30px;
}

.category-card {
  display: flex;
  background: white;
  padding: 20px;
  justify-content: space-between;
  margin: 10px 0;
  border-radius: 12px;
  align-items: center;
}

.form-category {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 12px;
  padding: 20px;
}

.colors {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
label {
  margin-bottom: 10px;
}
