.category-btn {
  height: 70px;
  width: 170px;
  border-radius: 15px;
  border: none;
  font-size: 15px;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.active {
  background-color: rgba(187, 196, 243, 0.396);
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px;
  border-radius: 15px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: left;
}

.category-btn:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transform: translateY(-4px);
}
