.note-card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.note-card:hover {
  transform: translateY(-4px);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.category-badge {
  padding: 4px 12px;
  border-radius: 12px;
  font-size: 12px;
  color: white;
  font-weight: 500;
}

.pinNote {
  border: none;
  padding: 5px;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.pinNote:hover {
  background-color: rgba(128, 128, 128, 0.26);
}

.note-header {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.note-preview {
  margin: 10px 0;
}

.btn-default {
  padding: 15px;
  border: none;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.btn-default:hover {
  /* background-color: rgba(128, 128, 128, 0.26); */
  transform: translateY(-2px);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.note-date {
  margin-bottom: 10px;
}

.note-actions {
  display: flex;
  margin-top: 10px;
}
