.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-bottom: 30px;
}

.input-search {
  font-size: 20px;
  border: none;
  width: 100%;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s, box-shadow 0.2s;
}

.icon-search {
  font-size: 40px;
  margin-right: 15px;
}

.input-search:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}
