.stats-grid,
.stats-grid-category {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  margin: 10px 0;
}

.notes-count-categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  margin: 5px 0;
}

.count-text {
  font-weight: 600;
  text-align: center;
  color: white;
}

.count {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  opacity: 85%;
}

.stats-item {
  display: flex;
  justify-content: left;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  border: 2px solid rgb(0, 157, 255);
  align-items: center;
}

.bold-text {
  font-weight: 600;
  font-size: 26px;
}

.stats-item-text {
  display: "flex";
  flex-direction: "column";
  justify-content: "center";
  margin-left: 20px;
}
